:root {
	--rojo: #E50914;
	--fondo: #141414;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--fondo);
    font-family: 'Open Sans', sans-serif;
}

header {
	padding: 10px 0;
}

header .logo a{
	text-decoration: none;
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--rojo);
	font-size: 40px;
}

.contenedor {
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pelicula-principal-play{
	display: flex;
	align-items: center;
}

.pelicula-principal-play iframe{
	border: none;
	margin: 0 auto;
	width: 90%;
	min-height: 35em;
}

@media screen and (max-width: 800px) {
	header .logo a{
		font-size: 30px;
	}
	.pelicula-principal-play iframe{
		min-height: 25em;
	}
}